/bower_components/*
!/bower_components/modernizr/modernizr.js
!/bower_components/jquery/dist/jquery.min.js
!/bower_components/jquery/dist/jquery.min.map
!/bower_components/foundation/js/foundation.min.js

/.sass-cache/*
*.DS_Store

/stylesheets/*
!/stylesheets/app.css
